.button {
  cursor: pointer;
  max-width: 140px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  background-color: #152229;
  font-size: 14px;
  display: block;
  justify-content: center;
  gap: 4px;
  font-family: 'Black Ops One', cursive;
  color: #fffffe;
  border: 1px solid #939393
}