.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.heroesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.heroWrapper {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
}
