.card {
  position: relative;
  height: 200px;
  border: 1px solid #152229;
  overflow: hidden;
  cursor: pointer;
  margin: 4px;
}

.activeHero {
  outline: 2px solid var(--hero-color);
}

.activeEnemy {
  outline: 2px solid var(--enemy-color);
}

.img {
  display: block;
  width: 100%;
}

.playerNumber {
  position: absolute;
  font-size: 32px;
}

.firstNumber {
  bottom: 8px;
  left: 8px;
  color: var(--hero-color);
}

.secondNumber {
  bottom: 8px;
  right: 8px;
  color: var(--enemy-color);
}


