.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.title {
  color: #fffffe;
  font-size: 36px;
}

.mainBlock {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(100px, 200px) minmax(160px, 1fr) minmax(100px, 200px);
}

.previewContainer {
  height: 100%;
  display: flex;
  align-items: end;
  padding: 40px 0;
}

.heroesListWrapper {
  height: 100%;
  overflow: auto;
}

.heroesListWrapper::-webkit-scrollbar {
  width: 8px;
}

.heroesListWrapper::-webkit-scrollbar-thumb {
  background-color: #8f8b85;
  outline: 1px solid #8f8b85;
  border-radius: 8px;
}

.heroesList {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

