body {
  font-family: 'Black Ops One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Black Ops One', cursive;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

