.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 8px;
}

.image {
  height: 360px;
  z-index: 10;
  pointer-events: none;
}

.largeImage {
  height: 460px;
}

.mirrorImage {
  transform: scaleX(-1);
}

.heroName {
  color: #e3d9d9;
}
